a.anchor-galerie {
    display: block;
    position: relative;
    top: -400px;
    visibility: hidden;
}

a#evenements {
    display: block;
    position: relative;
    top: -450px;
}

.evenements-title {
    position: relative;
    top: 450px;
    color: #ffffff;
}

a.anchor-plan-du-site {
    display: block;
    position: relative;
    top: -450px;
    visibility: hidden;
}

a#tarifs-horaires {
    display: block;
    position: relative;
    top: -900px;
}