/* custom add because prev and next arrows were cut from the bottom */
.flex-direction-nav a {
    height: 50px;
}

#views_slideshow_controls_text_previous_slideshow-block_1 {
    top: 45%;
    left: 10%;
}

#views_slideshow_controls_text_next_slideshow-block_1 {
    top: 45%;
    right: 10%;
}

#block-views-block-slideshow-block-1 {
    padding-bottom: 50px;
}